<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <title>Super Sightings</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body, html {
                height: 100%;
                margin: 0;
            }
            body {
                background: url("https://i.imgur.com/s1ypks4.jpg"); 
                background-size: cover;
                height: 100%;
            }
            .bg {
                background: rgba(0,0,0,.7);
            }
            hr {
                border-top: 1px solid dimgray;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row m-2">
                <div class="col">
                    <a class="btn btn-outline-danger btn-block bg" style="font-size: 50px; font-weight: bold " href="/">Super Sightings</a>
                </div>
            </div>
            <div class="row m-4 border border-dark bg">
                <div class="col text-center m-3">
                    <a href="sightings" class="btn btn-outline-danger btn-lg">Sightings</a>
                </div>
                <div class="col text-center m-3">
                    <a href="supers" class="btn btn-outline-danger btn-lg">Supers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="powers" class="btn btn-outline-danger btn-lg">Powers</a>
                </div>
                <div class="col text-center m-3">
                    <a href="organizations" class="btn btn-outline-danger btn-lg">Organizations</a>
                </div>
                <div class="col text-center m-3">
                    <a href="locations" class="btn btn-outline-danger btn-lg">Locations</a>
                </div>
            </div>

            <div class="row m-4 border border-dark bg" style="color: whitesmoke">
                <div class="col text-center m-3">
                    <h2>Edit Organization</h2><hr/>
                    <form action="editorg" method="POST">
                        <div class="form-group row">
                            <label for="orgName" class="col-3 col-form-label"><h5>
                                    Organization Name: </h5></label>
                            <div class="col-9">
                                <input name="orgName" th:value="${organization.orgName}"
                                       id="orgNameInput" class="form-control"
                                       placeholder="Name of Organization"/>
                                <div th:if="${#fields.hasErrors('organization.orgName')}">
                                    <p th:each="error : ${#fields.errors('organization.orgName')}" class="alert alert-danger"
                                       th:text="${error}"> Bad Name </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="orgDescription" class="col-3 col-form-label"><h5>
                                    Organization Description: </h5></label>
                            <div class="col-9">
                                <input name="orgDescription" th:value="${organization.orgDescription}" 
                                       id="orgDescriptionInput" class="form-control"
                                       placeholder="Short description about organization"/>
                                <div th:if="${#fields.hasErrors('organization.orgDescription')}">
                                    <p th:each="error : ${#fields.errors('organization.orgDescription')}" class="alert alert-danger"
                                       th:text="${error}"> Bad description </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="orgAddress" class="col-3 col-form-label"><h5>
                                    Organization Address: </h5></label>
                            <div class="col-9">
                                <input name="orgAddress" th:value="${organization.orgAddress}" 
                                       id="orgAddressInput" class="form-control" 
                                       placeholder="123 Fake St"/>
                                <div th:if="${#fields.hasErrors('organization.orgAddress')}">
                                    <p th:each="error : ${#fields.errors('organization.orgAddress')}" class="alert alert-danger"
                                       th:text="${error}"> Bad Address </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="orgCity" class="col-3 col-form-label"><h5>
                                    Organization City: </h5></label>
                            <div class="col-3">
                                <input name="orgCity" th:value="${organization.orgCity}" 
                                       id="orgCityInput" class="form-control" 
                                       placeholder="Minneapolis"/>
                                <div th:if="${#fields.hasErrors('organization.orgCity')}">
                                    <p th:each="error : ${#fields.errors('organization.orgCity')}" class="alert alert-danger"
                                       th:text="${error}"> Bad City </p>
                                </div>
                            </div>
                            <label for="orgState" class="col-3 col-form-label"><h5>
                                    Organization State: </h5></label>
                            <div class="col-3">
                                <input name="orgState" th:value="${organization.orgState}" 
                                       id="orgStateInput" class="form-control"
                                       placeholder="MN"/>
                                <div th:if="${#fields.hasErrors('organization.orgState')}">
                                    <p th:each="error : ${#fields.errors('organization.orgState')}" class="alert alert-danger"
                                       th:text="${error}"> Bad State </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="orgZip" class="col-3 col-form-label"><h5>
                                    Organization Zip: </h5></label>
                            <div class="col-3">
                                <input name="orgZip" th:value="${organization.orgZip}" 
                                       id="orgZipInput" class="form-control"
                                       placeholder="12345"/>
                                <div th:if="${#fields.hasErrors('organization.orgZip')}">
                                    <p th:each="error : ${#fields.errors('organization.orgZip')}" class="alert alert-danger"
                                       th:text="${error}"> Bad Zip </p>
                                </div>
                            </div>
                            <label for="phone" class="col-3 col-form-label"><h5>
                                    Organization Phone: </h5></label>
                            <div class="col-3">
                                <input name="phone" th:value="${organization.phone}" 
                                       id="phoneInput" class="form-control"
                                       placeholder="XXX-XXX-XXXX"/>
                                <div th:if="${#fields.hasErrors('organization.phone')}">
                                    <p th:each="error : ${#fields.errors('organization.phone')}" class="alert alert-danger"
                                       th:text="${error}"> Bad phone </p>
                                </div>
                            </div>
                        </div>
                        <div class="row m-4 border border-dark bg">
                            <div class="col text-center m-3">
                                <h2 style="color: whitesmoke">Select Supers</h2>
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="color: whitesmoke">
                                            <th>Select supers to add</th>
                                            <th>Super Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="super : ${supers}">
                                            <td><input type="checkbox" name="checkedSupers" 
                                                       th:checked="${organization.supers.contains(super)}" 
                                                       th:value="${super.superId}"></input></td>
                                            <td th:text="${super.superName}">Super Name</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Edit Organization</button>
                        <input type="hidden" th:value="${organization.orgId}" name="orgId"/>
                    </form>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
        crossorigin="anonymous"></script>
    </body>
</html>